<div class="row">

  <h2>Educational Qualifications</h2>
  <hr>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Masters in Computer Science</h3>
      <h4 class="content_heading">  Georgia Institute of Technology, Atlanta</h4>
        <p class="content">Specialization in Machine Learning</p>
        <p class="content">Expected Graduation: May 2019</p>
        <!-- <p class="content">Current GPA: <em>4.0/4.0</em></p> -->
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/gt.png" width="80%">
      <p>(August 2017 - Present)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Bachelor of Technology in Electrical Engineering</h3>
      <h4 class="content_heading">Delhi Technological University (Formerly DCE), Delhi, India</h4>
        <p class="content">Aggregate: <em>81.30 % CPI (First Class with Distinction)</em></p>
        <p class="content">Department Rank: <em>3</em></p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/dtu.png" width="50%">
      <p>(August 2012 - June 2016)</p>
    </div>
  </div>

</div>