<div class="row">
    <h2>Experience</h2>
    <hr>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Intern, <a target="_blank" href="https://www.microsoft.com/en-us/research/group/deep-learning-group/">Deep Learning Group, Microsoft Research Redmond</a></h3>
          <p class="content">Improving goal-driven visually grounded dialog under the presence of an adversarial utterance evaluator.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/msr_logo.jpg" width="120px">
        <p>(May 2018 - August 2018)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Assistant, <a target="_blank" href="https://www.cc.gatech.edu/~parikh/vil.html">Visual Intelligence Lab, Georgia Tech</a></h3>
          <p class="content">Working on problems at the intersection of computer vision and natural language processing with a focus
towards building intelligent and interpretable systems and subsequently studying their behavior in the context
of human-AI interaction.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/vil.png" width="120px">
        <p>(August 2017 - Present)</p>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Assistant, Computer Vision Lab, Virginia Tech</h3>
          <p class="content">Worked on scene-understanding problems such as object detection and counting in everyday scenes with a
downstream focus towards visual question answering.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/vt.png" width="110px">
        <p>(June 2016 - May 2017)</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9">
        <h3 class="content_heading">Research Intern, <a target="_blank" href="http://robotics.iiit.ac.in/">Robotics Research Lab, IIIT Hyderabad</a></h3>
          <p class="content">Implemented an efficient strategy for a robot to discover, recognize and navigate to a selected few objects
among some scattered in an environment, based on a - guess from far and recognize from near - strategy.</p>
      </div>
      <div class="col-sm-3" align="center">
        <img src="static/img/iiit_logo.png" width="120px">
        <p>(Dec 2014 - Jan 2015)</p>
      </div>
    </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Research Intern, <a href="http://www.iacs.res.in/">Indian Association for the Cultivation of Science (IACS), Kolkata</a> </h3>
        <p class="content">Worked on finding Charged Rotating Black Hole solutions in Einstein-Gauss-Bonnet dilaton coupled gravity
and simulated the conditions for the existence of multiple horizons in constant scalar curvature f(R) gravity.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/iacs_logo.jpg" width="130px" height="130px">
      <p>(Jun 2014 - August 2014)</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-9">
      <h3 class="content_heading">Undergraduate Researcher, <a href="http://auv.dtu.ac.in/">Autonomous Underwater Vehicle, DTU</a> </h3>
        <p class="content">Developed and implemented range estimation algorithms for Passive Source Localization
from Time Difference of Arrival (TDOA) values in conjunction with machine vision techniques.</p>
    </div>
    <div class="col-sm-3" align="center">
      <img src="static/img/auv_logo.png" width="230px" height="100px">
      <p>(Oct 2012 - June 2016)</p>
    </div>
  </div>
</div>
