<div class="row">
  <h2>News</h2>
  <hr>
  <div class="col-sm-12">
    <ul id="news_list">
      <li class="newsElement">Our paper titled <a href="https://arxiv.org/pdf/1810.12366.pdf">'Do explanation modalities make VQA models more predictable to a human?'</a></a> was accepted in <a href="http://emnlp2018.org/">EMNLP, 2018</a></li>
      <li class="newsElement">Our paper titled <a href="https://arxiv.org/abs/1808.02861">'Choose Your Neuron: Incorporating Domain Knowledge through Neuron-Importance'</a></a> was accepted in <a href="https://eccv2018.org/">ECCV, 2018</a></li>
    <li class="newsElement">I'm serving as a reviewer for <a href="http://cvpr2018.thecvf.com/">CVPR 2018</a>, <a href="https://eccv2018.org/">ECCV 2018</a>, <a href="https://nips.cc/">NeurIPS 2018</a>, <a href="https://iclr.cc/">ICLR 2019</a> and <a href="https://icml.cc/Conferences/2019">ICML 2019</a></li>
      <li class="newsElement">I received the College of Computing MS Research Award at Georgia Tech</a></li>
      <li class="newsElement">I'll be starting as Research Intern in Deep Learning Group at <a href="https://www.microsoft.com/en-us/research/group/deep-learning-group/">Microsoft Research</a> in summer 2018</li>
      <li class="newsElement">Our paper titled <a href="https://arxiv.org/abs/1708.05122">'Evaluating Visual Conversational Agents via Cooperative Human-AI Games'</a> was accepted in HCOMP, 2017</li>
      <li class="newsElement">I will be joining Georgia Tech as a Masters of Computer Science student in Fall 2017</li>
      <li class="newsElement">I will be presenting <a href="https://arxiv.org/abs/1604.03505">'Counting Everyday Objects in Everyday Scenes'</a> at the <a href="http://www.ldv.co/visionsummit/">LDV Vision Summit, 2017</a></li>
      <li class="newsElement">Our paper titled <a href="https://arxiv.org/abs/1704.00717">'It Takes Two to Tango: Towards Theory of AI's Mind'</a> is out on ArXiv!</li>
      <li class="newsElement">Our paper titled <a href="https://arxiv.org/abs/1604.03505">'Counting Everyday Objects in Everyday Scenes'</a> was accepted in <a href="http://cvpr2017.thecvf.com/"> CVPR 2017 </a> as a Spotlight!</li>
      <li class="newsElement">Won <a href="http://www.vthacks.com/">VT Hacks 2017</a>, a <a href="https://mlh.io/"> Major League Hacking Event</a>, 2017</li>
      <li class="newsElement"><a href="https://arxiv.org/abs/1604.03505">Counting Everyday Objects in Everyday Scenes</a> received an <a href="https://aws.amazon.com/blogs/publicsector/call-for-computer-vision-research-proposals-with-new-amazon-bin-image-data-set/"> Amazon Academic Research Award (AARA)</a>, 2016</li>
    </ul>
  </div>
</div>
<style type="text/css">
  .newsElement{
    padding-bottom: 5px;
  }
</style>
